#board li{
	width:90px;
	height:90px;
	display:block;
	float:left;
	margin:9px;
	padding:4px;
	border:1px solid #000;
	list-style:none;
	text-align: center;
	font-size: 20px;
}
.clear{
	clear:both;
}
#player1,#player2{
	float:left;
	width:200px;
	margin-left:50px;
}
#game{
	width:70%;
}
#status{
	text-align:center;
}
.win{
	background-color:red;
}
.try{
	background-color:grey;
}
.hidden{
	display:none;
}